##########################
# dev code to be ignored #
##########################
/src/population_backup.py
/src/population_before_refactor.py

#############################
# cached stuff from testing #
#############################
/src/__pycache__
